{{ header }}
<div class="container">
  <header>
    <div class="row">
      <div class="col-md-8 col-sm-6">
        <h1 class="pull-left">4<small>/5</small>
        </h1>
        <h3>{{ heading_title }}
          <br/>
          <small>{{ text_step_4 }}</small>
        </h3>
      </div>
      <div class="col-md-4 col-sm-6">
        <div id="logo" class="pull-right hidden-xs"><img src="view/image/logo.png" alt="OpenCart" title="OpenCart"/></div>
      </div>
    </div>
  </header>
  {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-sm-9">
      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <p>{{ text_db_connection }}</p>
        <fieldset>
          <div class="form-group required">
            <label class="col-sm-4 control-label" for="input-db-hostname">{{ entry_delete_demodata }}</label>
            <div class="col-sm-8">
              <select name="delete_demodata" id="input-delete-demodata" class="form-control">
                <option value="no" {% if delete_demodata == 'no' %}selected="selected"{% endif %}>{{ text_no }}</option>
                <option value="yes" {% if delete_demodata == 'yes' %}selected="selected"{% endif %}>{{ text_delete }}</option>
              </select>
              {% if error_delete_demodata %}
                <div class="text-danger">{{ error_delete_demodata }}</div>
              {% endif %}
            </div>
          </div>
        </fieldset>
        <div class="buttons">
          <div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div>
          <div class="pull-right">
            <input type="submit" value="{{ button_continue }}" class="btn btn-primary"/>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-3">{{ column_left }}</div>
  </div>
</div>
{{ footer }}
